
.top-div{
    background-color:rgb(203 213 225);
    margin: 0px;
}

input{
  border-radius: 5%;
}
h6{
  font-size: 17px;
}
.search-box{
    display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.search-input{
    border-radius: 5%;

}
.searchBtn{
    border-radius: 50%;
    margin-left: 5px;
}
.btn:hover{
   color: #9b2226;
}

.anchors{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.anchors a{
    margin-right: 10px;
    color: black;
}
.anchors a:hover{
   color: #9b2226;
}
small{
    font-size: 12px;
    color: green;
}
a{
    cursor: pointer;
}
div a:hover{
    opacity: 0.7;
}

.addCartBtn{
  border: 1px solid grey;
}
.addCartBtn:hover{

  background-color: black;
  color: white;
}
.lovebtnTrue{
  font-size: 30px;
  margin-left: 100px;
  border: none;
  outline: none;
  padding: 0;
  background: transparent;
  color: red;
}
.lovebtnFalse{
  font-size: 30px;
  margin-left: 100px;
  border: none;
  outline: none;
  padding: 0;
  background: transparent;
  color:grey
}
.lovebtn:hover{
  color:red;
  transform: scale(1.5, 1.5);

}
