<app-header></app-header>
<div class="top-div">
  <div class="discount-banner">
    <div class="scrolling-text-container">
      <span class="discount-text"
        >Hurry! Limited Time Offers - Up to 30 - 50% OFF on Selected Items</span
      >
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="search-box">
          <input
            class="search-input"
            type="text"
            [(ngModel)]="productSearched"
          />
          <button class="btn btn-dark btn-sm searchBtn">search</button>
        </div>
      </div>
      <div class="col-4">
        <div class="dropdown">
          <button class="dropdown-button">Filter</button>
          <div class="dropdown-content">
            <a class="dropdown-item" (click)="filterBy('priceHtoL')"
              >Price High to Low</a
            >
            <a class="dropdown-item" (click)="filterBy('priceLtoH')"
              >Price Low to High</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="filterBy('men')">Men</a>
            <a class="dropdown-item" (click)="filterBy('women')">Women</a>
          </div>
        </div>
      </div>
    </div>

    <div class="anchors">
      <a routerLink="/products" (click)="onTagClicked('all')">All(56)</a>
      <a (click)="onTagClicked('shirt')">Shirts(16)</a>
      <a (click)="onTagClicked('tshirt')">Tshirts(18)</a>
      <a (click)="onTagClicked('jeans')">Jeans(22)</a>
    </div>

    <div class="container">
      <div class="row">
        <!-- <a href=""></a> -->
        <div
          class="col-md-4 col-lg-3 col-sm-6"
          style="margin-top: 40px; height: 350px; margin-left: 0px"
          *ngFor="
            let item of allProducts
              | filterProducts : productSearched
              | slice : lowValue : highValue
          "
        >
          <div
            class="card"
            style="
              width: 14rem;
              border-radius: 10px;
              border: 2px solid whitesmoke;
              margin-left: 0px;
              box-sizing: border-box;
              background-color: rgb(226 232 240);
            "
          >
            <a (click)="productClicked(item)"
              ><img
                class="card-img-top"
                style="height: 200px"
                src="{{ item.imageUrl }}"
                height="250px"
                alt="Card image cap"
            /></a>

            <div class="card-body">
              <a (click)="productClicked(item)"
                ><h6 class="card-title">{{ item.name }}</h6></a
              >

              <small>special price</small>
              <button
                class="lovebtn"
                [ngClass]="{
                  lovebtnFalse: item.wishlist === false,
                  lovebtnTrue: item.wishlist === true
                }"
                (click)="wishlistClicked(item)"
              >
                {{ wishListBtn }}
              </button>
              <h5>{{ item.price | currency : "INR" : "symbol" : "3.2-2" }}</h5>
              <a class="btn btn-sm addCartBtn" (click)="productClicked(item)"
                >View Details..</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row paginator">
        <mat-paginator
          class="paginatorStyle"
          [length]="allProducts.length"
          [pageSize]="10"
          [pageIndex]="pageIndex"
          [pageSizeOptions]="[10, 25, 50, 100]"
          (page)="onPageChanged($event)"
          aria-label="Select page"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
