<nav class="navbar navbar-expand-lg navbar-dark bg-dark top-header">
  <a class="navbar-brand" routerLink="">Fashion Kido</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <!-- Use 'ms-auto' to make the items on the right -->
      <li class="nav-item ">
        <a class="nav-link" routerLink="">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/products">Products</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/aboutus">AboutUs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contactme">Contact Me</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto" *ngIf="headerService.isUserLoggedIn">
      <li class="nav-item">
        <a class="nav-link cart" (click)="cartClicked()"
          ><i class="bi bi-cart3 cartBtn position-relative">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size: 10px;">
              1
              <span class="visually-hidden">unread messages</span>
            </span>
          </i>
          <sup></sup
        ></a>
      </li>
      <li class="nav-item">
        <a class="nav-link cart" (click)="userClicked()"
          ><i class="bi bi-person-bounding-box profileBtn mx-3"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link logoutBtn" (click)="onLoggedOut()">Logout</a>
      </li>
    </ul>

    <!-- <div class="dropdown" *ngIf="headerService.isUserLoggedIn">
      <button class="btn btn-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-list"></i>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div> -->

    <ul class="navbar-nav ms-auto" *ngIf="!headerService.isUserLoggedIn">
      <li class="nav-item">
        <a class="nav-link cart" [routerLink]="['/signup']">SignUp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link cart" [routerLink]="['/login']">Login</a>
      </li>
    </ul>
  </div>
</nav>
