<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">Fashion Kido</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <!-- Use 'ms-auto' to make the items on the right -->
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/products">Products</a>
      </li>

      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenu2"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          products
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">Action</button>
          <button class="dropdown-item" type="button">Another action</button>
          <button class="dropdown-item" type="button">
            Something else here
          </button>
        </div>
      </div>

      <li class="nav-item">
        <a class="nav-link">AboutUs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Contact</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto" *ngIf="headerService.isUserLoggedIn">
      <li class="nav-item">
        <a class="nav-link cart" (click)="cartClicked()"
          ><img
            src="../../../assets/shopping-cart.png"
            height="20px"
            alt="cart-img" />
          <sup></sup
        ></a>
      </li>
      <li class="nav-item">
        <a class="nav-link cart" (click)="userClicked()"
          ><img src="../../../assets/user.png" height="20px" alt=""
        /></a>
      </li>
      <li class="nav-item">
        <a class="nav-link cart" (click)="onLoggedOut()">Logout</a>
      </li>
    </ul>

    <div class="dropdown" *ngIf="headerService.isUserLoggedIn">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenu2"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        ☰
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button">Action</button>
        <button class="dropdown-item" type="button">Another action</button>
        <button class="dropdown-item" type="button">Something else here</button>
      </div>
    </div>

    <ul class="navbar-nav ms-auto" *ngIf="!headerService.isUserLoggedIn">
      <li class="nav-item">
        <a class="nav-link cart" [routerLink]="['/signup']">SignUp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link cart" [routerLink]="['/login']">Login</a>
      </li>
    </ul>
  </div>
</nav>
