<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">Fashion Kido</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <!-- Use 'ms-auto' to make the items on the right -->
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" >AboutUs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" >Contact</a>
      </li>
      
    </ul>
    <ul class="navbar-nav ms-auto" *ngIf="headerService.isUserLoggedIn">
      <li class="nav-item">
        <a class="nav-link cart" href="#">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link cart" (click)="userClicked()">User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link cart" (click)="onLoggedOut()">Logout</a>
      </li>
    </ul>

    <ul class="navbar-nav ms-auto" *ngIf="!headerService.isUserLoggedIn">
      <li class="nav-item">
        <a class="nav-link cart" [routerLink]="['/signup']">SignUp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link cart" [routerLink]="['/login']">Login</a>
      </li>
    </ul>
  </div>
</nav>
