@import url('https://fonts.googleapis.com/css?family=Roboto:300');



.bottom-text{
    margin-top: 40px;
    margin-left: 20px;
}

.top{
  background-color:rgb(203 213 225)
}




.top-heading h1 {
    font-size: 70px;
    font-weight: bolder;
}

button {
    margin-right: 10px;
}

.imgHome > img {
    width: 100%;
    height: 100%;
}

.imgHome{
  height: 100vh;
}

a {
    font-size: large;
    text-decoration: none;
    font-weight: 500;
    color: black;
}

span {
    color: #FDA624;
    text-shadow: 3px 2px #ff0000;
}


.welcome {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

.welcome:first-of-type {    /* For increasing performance
                       ID/Class should've been used.
                       For a small demo
                       it's okaish for now */
  animation: showup 7s infinite;
}

.welcome:last-of-type {
  width:0px;
  animation: reveal 7s infinite;
}

.welcome:last-of-type span {
  animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:0px; }
    20% { margin-left:0px; }
    35% { margin-left:0px; }
    100% { margin-left:0px;}
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:500px;}
    80% {opacity:1;}
    100% {opacity:0;width:500px;}
}


.container1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5rem;
}

.shop-btn{
  margin-top: 3rem;
}

.shop-gender{
  margin-right: 3rem;
}

.product {
  text-align: center;
}

.circle {
  position: relative;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f0f0f0;
  border: 1px solid #FDA624 ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle img {
  max-width: 100%;
  max-height: 100%;
  display: block;

}
.circle img:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.product-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: bold;
  color: whitesmoke;
}

.carousel {
  max-width: 100%;
  max-height: 100%;
  height: 500px;

}

.inner-div2{
  margin-top: 3rem;
}

.inner-div2 > h1{
  margin-top: 2rem;
}
