<div class="top-div">
  <button>Edit</button>

  <table>
    <tr>
      <td class="tdh"><b>User Name</b></td>
      <td>{{ userProfileDetails.uName }}</td>
    </tr>
    <tr>
      <td class="tdh"><b>Password</b></td>
      <td>{{ userProfileDetails.password }}</td>
    </tr>
    <tr>
      <td class="tdh"><b>First Name</b></td>
      <td>{{ userProfileDetails.firstname }}</td>
    </tr>
    <tr>
      <td class="tdh"><b>Last name</b></td>
      <td>{{ userProfileDetails.lastname }}</td>
    </tr>
    <tr>
      <td class="tdh"><b>Gender</b></td>
      <td>{{ userProfileDetails.gender }}</td>
    </tr>
    <tr>
      <td class="tdh"><b>Mobile</b></td>
      <td>{{ userProfileDetails.mobile }}</td>
    </tr>
    <tr>
      <td class="tdh"><b>EmailId</b></td>
      <td>{{ userProfileDetails.emailId }}</td>
    </tr>
    <tr>
      <td class="tdh"><b>Address</b></td>
      <td>{{ userProfileDetails.address }}</td>
    </tr>
  </table>
</div>
