<app-header></app-header>

<div class="top-div">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 sidebarDiv">
        <h4>
          Hey! , <span>{{ userService.userLoggedInName | titlecase }}</span>
        </h4>

        <div class="listGroup" id="list-tab" role="tablist">
          <a
            class="listItem"
            id="list-home-list"
            data-toggle="list"
            role="tab"
            aria-controls="home"
            (click)="profileClicked()"
            [class.active]="isRouteActive('/user/profile')"
            >Profile</a
          >
          <a
            class="listItem"
            (click)="ordersClicked()"
            [class.active]="isRouteActive('/user/order')"
            >Orders</a
          >
          <a
            class="listItem"
            (click)="wishlistClicked()"
            [class.active]="isRouteActive('/user/wishlist')"
            >Wishlist</a
          >
          <a
            class="listItem"
            id="list-settings-list"
            (click)="settingsClicked()"
            [class.active]="isRouteActive('/user/settings')"
            >Settings</a
          >
          <a
            class="listItem"
            (click)="logoutClicked()"
            [class.active]="isRouteActive('/user/logout')"
            >Logout</a
          >
        </div>
      </div>

      <div class="col-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
