a{
    cursor:pointer
}

.top-div{
   background-color:  rgb(203 213 225);
}

.sidebarDiv{

    border: 1px solid black;
    background-color: rgb(16,15,15);
    color: white;
}

span{
    color: red;
    font-size: 30px;
}

.listGroup{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 105%;
}

.listItem{
    border: 1px solid black;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
    
}

.active{
    background-color: rgb(203 213 225);
    color: rgb(224, 24, 24);
    border:rgb(168, 38, 38)  ;
    font-weight: bold;
}
