
<div class="top-div">
    <form [formGroup]="addressChangeForm" >
        <div class="form-group">
            <label for="HouseNum">H-No :</label>
            <input type="text" name="houseName" formControlName="houseNumber" class="form-control">
        </div>
        <div class="form-group">
            <label for="MobileNumber">Mobile number :</label>
            <input type="text" name="MobileNumber" formControlName="mobileNumber" class="form-control">
        </div>
        <div class="form-group">
            <label for="locality">Locality :</label>
            <input type="text" name="locality" formControlName="locality" class="form-control">
        </div>
        <div class="form-group">
            <label for="pincode">Pincode :</label>
            <input type="text" name="pincode" formControlName="pincode" class="form-control">
        </div>
        <div class="form-group">
            <label for="city">City :</label>
            <input type="text" name="city" formControlName="city" class="form-control">
        </div>
        <div class="form-group">
            <label for="state">State :</label>
            <input type="text" name="state" formControlName="state" class="form-control">
        </div>
        
    </form>
    <button class="btn btn-success" (click)="onSave()">Save</button>
</div>

