<!-- <app-header></app-header> -->
<div class="top-div">
  <div class="" *ngIf="cartItems.length === 0">
    <div class="cartEmpty">
      <h3>No , Cart Items Found ...</h3>
      <button routerLink="/products">+ Goto Shop</button>
    </div>
  </div>
  
  
  <div class="box">
    <div class="insideBox">
      <mat-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            
                <div *ngIf="cartItems.length !== 0">
                  <p-table [value]="cartItems" [tableStyle]="{ 'min-width': '60rem' }">
                    <ng-template pTemplate="caption">
                      <div class="flex align-items-center justify-content-between">
                        <h5>Cart Items(TotalItems)</h5>
                      </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                      <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Reviews</th>
                        <th>Action</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                      <tr>
                        <td>
                          <img
                            [src]="product.imageUrl"
                            [alt]="product.name"
                            width="100"
                            class="shadow-4"
                          />
                        </td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price | currency : "INR" }}</td>
                        <td>{{ product.selectedSize }}</td>
            
                        <td>
                          <h5>
                            <button class="buttton" (click)="increaseQuantity(product)">
                              +
                            </button>
                            {{ product.quantity }}
                            <button class="buttton" (click)="decreaseQuantity(product)">
                              -
                            </button>
                          </h5>
                        </td>
                        <td>
                          <button class="buttton" (click)="saveForLater(product)">
                            Save For Later
                          </button>
                          <br />
                          <button class="buttton" (click)="deleteProductFromCart(product)">
                            Delete
                          </button>
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                      <div class="wrapper-box">
                        <div>
                          <h5>Total :</h5>
                          <h5>{{ calculateTotalPrice() | currency : "INR" }}</h5>
                        </div>
                        <div>
                          <button class="placeOrderBtn" (click)="changeAddress()">
                            Change Address
                          </button>
                          <button class="placeOrderBtn" (click)="Proceed()">Proceed</button>
                          
              <button mat-button matStepperNext>proceed</button>
            
                        </div>
                      </div>
                    </ng-template>
                  </p-table>
                </div>
              
            
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
          <form [formGroup]="secondFormGroup">
            <mat-form-field>
              <mat-label>Address</mat-label>
              <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                     required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-stepper>
      <hr>
  
      
          <div class="savelaterTop"  *ngIf="saveLaterProducts.length !== 0">
            <p-table [value]="saveLaterProducts" [tableStyle]="{ 'min-width': '60rem' }">
              <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                  <h5>SavedForLater(TotalItems)</h5>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th>Image</th>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Category</th>
                
                  <th>Action</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                <tr>
                  <td>
                    <img
                      [src]="product.imageUrl"
                      [alt]="product.name"
                      width="100"
                      class="shadow-4"
                    />
                  </td>
                  <td>{{ product.name }}</td>
                  <td>{{ product.price | currency : "INR" }}</td>
                  <td>{{ product.selectedSize }}</td>
      
                  
                  <td>
                    <button class="buttton" (click)="addToCartFromSavelater(product)">
                      Add To Cart
                    </button>
                    <br />
                    <button class="buttton" (click)="deleteProductFromSaveLater(product)">
                      Delete
                    </button>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="summary">
                <div class="wrapper-box">
                  <div>
                    <h5>Total :</h5>
                    <h5>{{ calculateTotalPrice() | currency : "INR" }}</h5>
                  </div>
                  <div>
                    <button class="placeOrderBtn" (click)="changeAddress()">
                      Change Address
                    </button>
                    <button class="placeOrderBtn" (click)="Proceed()">Proceed</button>
                    
                     <button mat-button matStepperNext>proceed</button>
      
                  </div>
                </div>
              </ng-template>
            </p-table>
          </div>
       
    </div>
  
  
    <div>
        sdfgsdf
    </div>
  </div>
   
  
  
  

</div>
