.lovebtnTrue{
  font-size: 30px;
  margin-left: 100px;
  border: none;
  outline: none;
  padding: 0;
  background: transparent;
  color: red;
}
.lovebtnFalse{
  font-size: 30px;
  margin-left: 100px;
  border: none;
  outline: none;
  padding: 0;
  background: transparent;
  color:grey
}
.lovebtn:hover{
  color:red;
  transform: scale(1.5, 1.5);

}
a{
  cursor: pointer;
}

.wishlistEmpty{
  text-align: center;
  margin: 10% 0;
  padding-left: 200;

}

.top-div{
  /* border: 1px solid black; */
  padding: 0;
  margin: 0;
  /* background-color:rgb(208, 208, 206); */

}


.add-wishlistBtn{
  border: 1px solid black;
}
.add-wishlistBtn:hover{
  border: 1px solid whitesmoke;
  background-color: black;
  color: white;
}
