/* You can add global styles to this file, and also import other style files */


@import '~@fortawesome/fontawesome-free/css/all.css';

*{
  box-sizing: border-box;
}

body{
  margin: 0px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button{
  background-color:#FFE121 ;

}
