<!-- Footer -->
<footer class="text-center top-footer" style="background-color: #100f0f">
  <!-- Grid container -->
  <div class="container p-4 d-flex justify-content-between">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #3b5998"
        href="https://wa.me/+916302778470"
        role="button"
        ><i class="fab fa-whatsapp"></i>
      </a>

      <!-- Twitter -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #55acee"
        href=""
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #ac2bac"
        href=""
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #0082ca"
        href="https://www.linkedin.com/in/faizan-shaik-1642a3258/"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333"
        href="https://github.com/FAIZAN-SHAIK"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form>
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <div class="col-auto">
            <a routerLink="">Home</a>
            <a routerLink="/products">Products</a>
            <a href="">AboutUs</a>
            <a href=""><button class="contactMeBtn">Contact Me</button></a>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-light p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2024 Copyright:
    <a class="text-light" href="https://github.com/FAIZAN-SHAIK">FaizanShaik</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
