
<div class="top-div">
    <h1>Your Orders</h1>
  <div class="container">
    <div class="productDiv" *ngFor="let product of userorders">
      <div class="container-fluid">
        <div class="row" style="margin-top: 30px;">
          <div class="col-3">
            <a (click)="productClicked(product)"><img src="{{ product.imageUrl }}" height="50px" width="50px" alt="" /></a>
            
            <p>{{ product.name }}</p>
          </div>
          <div class="col-2">
            <p>Size: {{ product.selectedSize }}</p>
          </div>
          <div class="col-2">
            <h6>Quantity : {{ product.quantity }}</h6>
          </div>
          <div class="col-2">
            <p>OrderId:{{product.OrderId}}</p>
            
          </div>
          <div class="col-2">
            <h5 >{{ product.price * product.quantity | currency : "INR" }}</h5>
          </div>
          
    
          <div class="col-1">
           <button class="cancelOrderBtn" (click)="cancelOrder(product)">Cancel Order</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div class="cartEmpty" *ngIf="userorders.length === 0">
    <h5>No Orders Found!!</h5>
    <button routerLink="/products" >+ Order Items</button>
  </div>
</div>



